*,*::before, *::after{
    box-sizing: border-box;
}

.font-20{
    font-size: 20px!important;
}

.pos-absolute{
    position: absolute!important;
}

.navbar{
    background-color: #2f3132!important;
}
.navbar-brand{
    color: white!important;
}
.nav-link{
    text-align: center;
    color: white!important;
}
/* .nav-link:hover{
    color: #333!important;
} */
.navbar-toggler-icon{
    color: white!important;
}
.login-menu{
    min-width: 20rem;
    padding: 1rem;
}
.navbar-brand{
    font-size: 32px!important;
}


main{
    height: 100vh;
    
}


footer {
    background-color: rgb(244,244,244);
}

.footer-link {
    text-align: left;
}

.footer-link-content:hover {
    text-decoration: underline;
}

.footer-email-form {
    padding: 0;
}

.footer-email-form-content {
    font-size: 16px;
    padding: 4px 8px;
    
}

.footer-email-btn {
    padding: 0;
}

.footer-email-btn-content {
    background-color: rgb(33,37,41);
    font-size: 16px;
    padding: 4px 8px;
    margin: 1rem 0;
}

.footer-email-btn-content:hover {
    background-color: rgb(25, 135, 84);
    color: white;
}



.footer-email {
    flex: 0.8;
}

.footer-social {
    flex: 1;
}

.check-box {
    height: 30px;
    border: rgb(105,113,114) 3px solid;
}

.check-info {
    text-align: left;
    font-weight: bold;
}

.facebook-btn {
    font-size: 32px;
    background-color: rgb(244,244,244);
}

.facebook-btn:hover {
    color: rgb(59,89,152);
}

.twitter-btn {
    font-size: 32px;
    background-color: rgb(244,244,244);
}

.twitter-btn:hover {
    color: rgb(29,161,242);
}

.instagram-btn {
    font-size: 32px;
    background-color: rgb(244,244,244);
}

.instagram-btn:hover {
    color: rgb(226,48,108);
}

.youtube-btn {
    font-size: 32px;
    background-color: rgb(244,244,244);
}

.youtube-btn:hover {
    color: rgb(230,0,0);
}
