*,*::before, *::after{
    box-sizing: border-box;
}

.font-20{
    font-size: 20px!important;
}

.pos-absolute{
    position: absolute!important;
}

.main-container{
    margin-top: 1rem;
    margin-bottom: 1rem;
    /* height: 100vh; */
}
.featured .carousel-control-prev-icon,
.featured .carousel-control-next-icon{
    filter: none;
}
.featured{
    width: 100%;
    height: calc(100vh - 74px);
    overflow: hidden;
    position: relative;
}
.video-wrapper{
    transform: translateY(-30%)
}
.featured-content{
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    flex-direction: column;
    align-items: center;
    text-transform: uppercase;
    width: 75%;
}
.featured-content>p{
    color: white;
    font-size: 5rem;
    font-weight: bold;
    padding: 1rem 1rem .5rem;
    text-align: center;
}
.featured-content>a{
    text-decoration: none;
    width: fit-content;
    color: black;
    font-size: 1.5rem;
    font-weight: bold;
    background-color: rgba(0,184,252,0.99);
    padding: .5rem 1rem;
    border-radius: 3px;
}
.featured-content>a:hover{
    background-color: rgba(16, 154, 203, 0.99);

}
.nav-link{
    text-align: center;
}
.nav-link:hover{
    color: #333!important;
}

.login-menu{
    min-width: 20rem;
    padding: 1rem;
}
.navbar-brand{
    font-size: 32px!important;
}

/* CAROUSEL related things (remove colors after testing) */
.shop-content {
    background-color: red;
    height: 600px;
    margin-top: 80px;
}
.items-container {
    min-height: 500px;
    background-color: antiquewhite;
    padding-top: 80px;
}
.items-content {
    display: flex;
    flex-grow: 1;
    background-color: aqua;
}
.items-title {
    margin: 0 auto;
    text-align: center;
}
.carousel-container {
    background-color: azure;
}


.c-items {
    position: relative;
    height: auto;
    width: auto;
    margin: 0 10px;
    color: white;
}
.items-label {
    position: absolute;
    padding: 10px 10px;
    text-align: center;
    color: white;
    margin: 0;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    /* z-index: 100; */
}
.items-img {
    /* position: absolute; */
    width: 100%;
    height: 250px;
    /* height: auto; */
    top: 0;
    left: 0;
    border: 1px solid gray;
    background-color: rgb(63, 63, 63);
    object-fit: cover;
    transition: .2s ease-in-out;
}
.c-items:hover .items-img{
    filter: brightness(.7);
}
.overlay-link {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
.slick-arrow:not(.prev-btn):not(.next-btn) {
    background-color: #00B8FC;
    width: 40px;
    height: 40px;
    border-radius: 4px;
    color: black;
    border: none;
    outline: none;
    position: absolute;
    top: 50%;
    z-index: 1;
    /* text-indent: -9999px; */
    white-space: nowrap;
    overflow: hidden;
}
.slick-dots li button::before {
    /* color: #00B8FC!important; */
    font-size: 10px!important;
}
/* .slick-dots li.slick-active button:before {
    color: #00B8FC;
} */

.promotion-container-1{
    background: black url('https://zedligaming.com/wp-content/uploads/2020/08/20617037_10155505657874871_2495346694590449553_o-1.jpg') center no-repeat;
    height: 75vh;
}

.promotion-container-2{
    background: black url('https://sudospaces.com/eshop/2021/07/5-tai-nghe-choi-game-logitech-g-pro-gen-2.png') center no-repeat;
    height: 65vh;
}

.grid-container-1{
    display: grid;
    grid-template-rows: 50px;
    grid-auto-rows: minmax(50px, auto);
}

.grid-container-2{
    display: grid;
    grid-template-columns: 5fr 1.5fr 1fr;
    grid-template-rows: 65vh;
}

.promotion-title {
    font-size: 60px;
    font-weight: bold;
    width: 100%;
    justify-self: center;
    text-align: center;
    color: white;
}

.promotion-desc {
    width: 45%;
    justify-self: center;
    text-align: center;
    color: white;
}

.purchase-btn {
    margin-top: 50px;
    justify-self: center;
}

.promotion-logo{
    align-self: center;
    justify-self: center;
    text-align: center;
}

.promotion-details{
    color: white;
    align-self: center;
    justify-self: center;
    text-align: left;
}